@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >

    <h1 class="display-4" style=" padding-top:10%; color:rebeccapurple"><strong>NetCoreWeb Kütüphane Projesi</strong></h1>
    <br />
    <br />
    <p><img src="/img/kutuphane.png" style="width:70%" alt="Alternate Text" /></p>
    
