@{
    ViewData["Title"] = "İletisim Bilgileri";
}



<div class="text-center">

    <h1 style="color:rebeccapurple; padding-top:10%;">@ViewData["Title"]</h1>
    <br /> <br />
    <h3 style="color:red">Adres : </h3>
    <h3> Cumhuriyet Mah. Yüzyıl cad. Cengiz sok.</h3>
    <h3> Kartal / İstanbul</h3>
    <br /> <br />
    <h3 style="color:red"> Telefon Numarası : </h3>
    <h3><a href="tel:+90 555 555 55 55">+90 555 555 55 55</a></h3>
    <br /> <br />
    <h3 style="color:red"> Mail Adresi : </h3>
    <h3><a href="mailto:mertkoc1981@gmail.com">mertkoc1981@gmail.com</a></h3>

</div>